[submodule "graphs/crds-graphql-personalization"]
	path = graphs/crds-graphql-personalization
	url = https://github.com/crdschurch/crds-graphql-personalization.git
	ignore = all
[submodule "graphs/crds-graphql-groups"]
	path = graphs/crds-graphql-groups
	url = https://github.com/crdschurch/crds-graphql-groups.git
	ignore = all
[submodule "graphs/crds-graphql-content"]
	path = graphs/crds-graphql-content
	ignore = all
	url = https://github.com/crdschurch/crds-graphql-content.git
[submodule "graphs/crds-graphql-user-profile"]
	path = graphs/crds-graphql-user-profile
	url = https://github.com/crdschurch/crds-graphql-user-profile.git
	ignore = all
